In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Twitter_Jan_Mar.csv")
df.head()

,date,id,content,username,like_count,retweet_count
0,2023-03-29 22:58:21+00:00,1641213230730051584,"Free AI marketing and automation tools, strate...",RealProfitPros,0.0,0.0
1,2023-03-29 22:58:18+00:00,1641213218520481805,@MecoleHardman4 Chat GPT says itâ€™s 15. ðŸ˜‚,AmyLouWho321,0.0,0.0
2,2023-03-29 22:57:53+00:00,1641213115684536323,https://t.co/FjJSprt0te - Chat with any PDF!\n...,yjleon1976,0.0,0.0
3,2023-03-29 22:57:52+00:00,1641213110915571715,"AI muses: ""In the court of life, we must all f...",ChatGPT_Thinks,0.0,0.0
4,2023-03-29 22:57:26+00:00,1641213003260633088,Most people haven't heard of Chat GPT yet.\nFi...,nikocosmonaut,0.0,0.0

In [3]:
df.count()

date             500036
id               500030
content          500030
username         500002
like_count       499974
retweet_count    499974
dtype: int64

In [4]:
pd.isna(df).sum()

date              0
id                6
content           6
username         34
like_count       62
retweet_count    62
dtype: int64

In [5]:
df.shape

(500036, 6)

In [6]:
df.dropna(inplace=True)
df.shape

(499974, 6)

In [7]:
df.drop_duplicates(inplace=True)
df.shape

(499974, 6)

In [8]:
df[df.id == "1641183648375525376"]

,date,id,content,username,like_count,retweet_count
707,2023-03-29 21:00:48+00:00,1641183648375525376,"replace all your chat GPT bots with me, I prom...",LilyLyco,5.0,0.0

In [9]:
pd.isna(df).sum()

date             0
id               0
content          0
username         0
like_count       0
retweet_count    0
dtype: int64

In [10]:
df.to_csv("Twitter_Jan_Mar_cleaned.csv", index=False)